.spotter-page{
  &-title,
  &-subtitle{
    margin: 0;
    line-height: 1em;
  }
  &-subtitle{
    margin-top: 10px;
  }
  &-buttons{
    margin-top: 20px;
  }
  &-title{
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 40px);
  }
  &-back{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    left: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url(./images/back.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.3s;
    cursor: pointer;
    &:focus{
      outline: none;
    }
    &:hover{
      background-position-x: calc(50% + 10px);
    }
  }
  &-content{
    margin: 20px 0;
  }
}