.spotter-item {
  &-title {
    margin-bottom: 20px;
    width: 100%;
    &-back {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      left: 0;
      width: 30px;
      height: 30px;
      padding: 0;
      border: none;
      background-color: transparent;
      background-image: url(./images/back.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      transition: all 0.3s;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:hover {
        background-position-x: calc(50% + 10px);
      }
    }
    &-edit {
      border: none;
      background-color: transparent;
      padding: 0;
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      cursor: pointer;
      svg {
        fill: #0088cc;
      }
      &:focus {
        outline: none;
      }
    }
    div {
      cursor: text;
      min-width: 5px;
      max-width: calc(100% - 40px - 30px);
      margin: 0;
      padding: 5px 10px;
      font-size: 16px;
      line-height: 1em;
      border: none;
      background: transparent;
      padding: 0;
      display: inline-block;
      vertical-align: middle;
      font-size: 26px;
      font-weight: 700;
      word-break: break-all;
      &:focus {
        outline: none;
        border-color: #ddd;
        box-shadow: none;
      }
    }
  }
  &-buttons {
    margin-top: 20px;
  }
}

.spotter-sections {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  &-add {
    border: 2px dashed #27ca5d;
    background-color: #eee;
    position: relative;
    overflow: hidden;
    height: 100px;
    cursor: pointer;
    border-radius: 5px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s;
      width: 40px;
      height: 40px;
      background-image: url(./images/add.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    &:hover {
      &:after {
        transform: translate(-50%, -50%) scale(1.2);
      }
    }
  }
  &-choose {
    font-size: 0;
    margin: -10px;
    text-align: center;
    &-item {
      display: inline-block;
      vertical-align: top;
      width: 33.33333%;
      padding: 10px;
      cursor: pointer;
      &-image {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          background-image: url(./images/add.svg);
          background-size: 30px 30px;
          background-repeat: no-repeat;
          background-position: center 60%;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s;
        }
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
      &-title {
        margin-top: 8px;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        line-height: 1em;
      }
      &:hover {
        .spotter-sections-choose-item {
          &-image {
            &:after {
              opacity: 1;
              visibility: visible;
              background-position: center center;
            }
          }
        }
      }
    }
  }
}

.spotter-section {
  position: relative;
  padding: 10px 5px;
  &-inner {
    padding: 12px;
    border-radius: 5px;
    background-color: #eee;
    position: relative;
    box-shadow: 0 5px 10px -10px #000;
  }
  &-add {
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 6px 10px -10px #000;
    background-image: url(./images/add.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    &:focus {
      outline: none;
    }
    &__bottom {
      top: 100%;
    }
  }
  &:hover {
    .spotter-section {
      &-add {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
  &-header {
    font-size: 0;
    &-title {
      display: inline-block;
      width: 50%;
      padding: 5px;
      div {
        display: inline-block;
        vertical-align: middle;
        font-weight: 700;
        font-size: 14px;
        line-height: 1em;
        cursor: text;
        min-width: 5px;
        word-break: break-all;
        max-width: calc(100% - 20px);
      }
      &-edit {
        border: none;
        background-color: transparent;
        padding: 0;
        width: 14px;
        height: 14px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 6px;
        cursor: pointer;
        svg {
          fill: #0088cc;
        }
        &:focus {
          outline: none;
        }
      }
    }
    &-actions {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
      text-align: right;
      padding: 5px;
    }
    &-action {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      svg {
        width: 100%;
        height: auto;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
      &__remove {
        svg {
          fill: #e74b43;
        }
      }
      &__arrow {
        svg {
          fill: #27ca5d;
        }
        &__active {
          transform: rotate(-180deg);
        }
      }
    }
  }
  &-fields {
    display: none;
    margin: 0 -5px;
    &-inner {
      font-size: 0;
    }
    &__opened {
      display: block;
    }
  }
}

.spotter-section-field {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  position: relative;
  padding: 5px 10px;
  &__third {
    width: 33.33333%;
  }
  &__half {
    width: 50%;
  }
  &_fourth {
    width: 25%;
  }
  &__seventh {
    width: 66.66666%;
  }
  &-label {
    font-size: 14px;
    line-height: 1em;
    min-height: 14px;
    & + .spotter-section-field-control {
      margin-top: 10px;
    }
  }
  &-control {
    display: block;
    position: relative;
    input,
    select,
    textarea {
      width: 100%;
      margin: 0;
      background: #fff;
      border-radius: 3px;
      height: auto;
      min-height: auto;
      line-height: 1em;
      border: none;
      padding: 10px;
      resize: none;
      color: #000;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    select {
      &:focus {
        color: #000;
      }
      height: 41px;
      background-image: url(./images/down.svg);
      padding-right: 30px;
      background-size: 15px 15px;
      background-position: center center;
      background-position-x: calc(100% - 10px);
      background-repeat: no-repeat;
    }
    textarea {
      height: 100px;
    }
    &-loader {
      width: 30px;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      background-image: url(./images/loading.svg);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
      z-index: 3;
    }
    &-clear {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      background-image: url(./images/close.svg);
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: center center;
      border: none;
      background-color: transparent;
      transition: all 0.3s;
      opacity: 0;
      visibility: hidden;
      transform: scale(0);
      z-index: 3;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &__show {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
    }
    &-checkbox {
      font-size: 14px;
      &-inner {
        position: relative;
        padding-left: 30px;
      }
      &-point {
        width: 20px;
        height: 20px;
        border-radius: 4px;
        background-color: #fff;
        position: absolute;
        padding-left: 0;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: all 0.3s;
        overflow: hidden;
        &:before {
          content: '';
          display: block;
          position: absolute;
          opacity: 0;
          border-bottom: 2px solid #27ca5d;
          border-right: 2px solid #27ca5d;
          width: 30%;
          height: 45%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          transition: all 0.3s;
          margin-top: -50%;
        }
      }
      label {
        display: inline-block;
        input {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          &:checked {
            &:before {
              display: none;
            }
            & + .spotter-section-field-control-checkbox-inner {
              .spotter-section-field-control-checkbox-point {
                &:before {
                  opacity: 1;
                  margin-top: -10%;
                }
              }
            }
          }
        }
      }
    }
    &-repeater {
      &s{
        .spotter-section {
          font-size: 20px !important;
        }
      }
      padding: 15px 0;
      font-size: 14px;
      border-bottom: 1px solid #999;
      position: relative;
      padding-right: 25px;
      &:last-child {
        border: none;
      }
      &-remove {
        position: absolute;
        top: 50%;
        right: 0;
        border: none;
        border-radius: 50%;
        background-color: #e74b43;
        padding: 0;
        text-align: center;
        color: #fff;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
      &-add {
        display: inline-block;
        font-size: 14px;
        color: #fff;
        border-radius: 20px;
        background-color: #27ca5d;
        padding: 10px 15px;
        line-height: 1em;
        text-decoration: none;
        transition: all 0.3s;
        margin-right: 10px;
        vertical-align: middle;
        border: none;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
    }
  }
  &-error {
    color: #e74b43;
    font-size: 12px;
    margin-top: 10px;
  }
  &__deliver {
    div {
      background-color: #999;
      height: 1px;
    }
  }
  &__fields {
    padding: 0;
  }
  &__switch {
    .spotter-section-field-control {
      display: flex;
      vertical-align: middle;
      border-radius: 3px;
      overflow: hidden;
      border: 1px solid #999;
      &-option {
        color: #000;
        font-size: 12px;
        text-align: center;
        padding: 12px 0px;
        margin: 0;
        flex: 1;
        transition: all 0.3s;
        background-color: #fff;
        border: none;
        line-height: 1em;
        border-right: 1px solid #999;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        &:last-child {
          border-right: none;
        }
        &:focus {
          outline: none;
        }
        &__active {
          background-color: #27ca5d;
          color: #fff;
        }
      }
    }
  }
  &__textarea {
    .spotter-section-field-control {
      &__textarea {
        &-html {
          font-size: 14px;
          .rdw-editor-main {
            background-color: #fff;
            padding: 10px;
            border-radius: 0 0 5px 5px;
          }
          .rdw-editor-toolbar {
            margin-bottom: 1px;
            border-radius: 5px 5px 0 0;
          }
        }
      }
    }
  }
  &__file {
    input {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      top: 0;
      left: 0;
    }
    .spotter-section-field-control {
      width: 100%;
      label {
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        overflow: hidden;
        height: 100%;
        display: block;
        position: relative;
        &:before {
          content: '';
          display: block;
          position: absolute;
          z-index: 1;
          transition: all 0.3s;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(#27ca5d, 0.9);
          opacity: 0;
          visibility: hidden;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 25px;
          height: 25px;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center center;
          position: absolute;
          top: 50%;
          left: 50%;
          transition: all 0.3s;
          background-image: url(./images/plus.svg);
          visibility: hidden;
          opacity: 0;
          transform: translate(-50%, -50%) scale(0);
          z-index: 2;
        }
        &:hover {
          &:before {
            opacity: 1;
            visibility: visible;
          }
          &:after {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }
      &-clear {
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 50%;
        background-color: #fff;
      }
      &__empty {
        height: 150px;
        label {
          &:before {
            opacity: 1;
            visibility: visible;
          }
          &:after {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
          }
          &:hover {
            &:after {
              transform: translate(-50%, -50%) scale(1.2);
            }
          }
        }
      }
      img {
        width: 100%;
        padding: 10px;
        height: auto;
        display: block;
      }
    }
  }
  &__loading {
    &.spotter-section-field__file {
      .spotter-section-field {
        &-control {
          &,
          &__empty {
            label {
              &:before {
                opacity: 1;
                visibility: visible;
              }
              &:after {
                opacity: 0;
                visibility: hidden;
                transform: translate(-50%, -50%) scale(0);
              }
            }
            .spotter-section-field-control-loader {
              opacity: 1;
              visibility: visible;
              transform: translate(-50%, -50%) scale(1);
            }
          }
        }
      }
    }
  }
}

.spotter-tab {
  &s {
    margin-bottom: 10px;
    font-size: 0;
  }
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 5px;
  padding: 15px;
  background-color: #fff;
  color: #000;
  border: none;
  transition: all 0.3s;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  line-height: 1em;
  height: auto;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:hover,
  &__active {
    background-color: #27ca5d;
    color: #fff;
  }
}
